<!doctype html>
<html>
<head>
	<link href="https://fonts.googleapis.com/css?family=Press+Start+2P" rel="stylesheet">
	<title>Queer Scouts: Rules</title>
	<style>
		body {
			text-align: center;
			font-family: courier;
			font-size: 20px;
		}
		h1 {
			font-size: 48px;
			margin: 0;
		}
		h2 {
			color: forestgreen;
		}
		h3 {
			font-size: 36px;
			font-family: 'Press Start 2P', cursive;
		}
		h4 {
			font-size:26px;
			margin: 0 20% 0 25%;
			text-align: left;
		}
		header {
			font-family: 'Press Start 2P', cursive;
		
		}
		nav {
			font-size: 24px;
			display: flex;
			flex-direction: row;
			justify-content: space-around;
			background: lavender;
		}
		p, ol {
			text-align: left;
			margin: 10px 30% 10px 30%;
		}


		@media (max-width: 500px) {
			p, ol {
				margin: 10px 1% 10px 1%;
			}
		}
	</style>
</head>
<body>
	<header>
		<h1>
			<div style=color:skyblue;>Quee</div>
			<div style=color:lightgray;>r Sc</div>
			<div style=color:pink;>outs</div>
		</h1>
		<h2>All* Welcome!</h2>
	</header>
	<nav>
		<a href=miaou11235>Home</a>
		<a href=#>About</a>
		<a href=#>Rules</a>
	</nav>
	<h3>IRC Rules</h3>
<ol>
    <li>Everyone is to abide by the Queer Scout Law:
        <blockquote>I will uphold the name of Queer Scouting by striving to be:</br>
        respectful of myself and others,</br>
        accepting of those who seem different,</br>
        responsible for my words and actions,</br>
        kind and empathetic,</br>
        brave and loyal,</br>
        working towards a better world</br>
        as a sibling to every Queer Scout.</blockquote></li>
    <li>Everyone is to understand the position of the Queer Scouts IRC Channel regarding diversity of belief. Diversity of political and religious beliefs strengthens a community and makes it healthier. We strive to be welcoming to people from all walks of life. (However, this does not mean that those who disrespect other members of the channel will be tolerated.)</li>
    <li>Acting in a rude or bullying manner is not accepted. Disagreements are natural, but one must act like an adult (no matter one's age) and remain civil.</li>
    <li>Respect the genders and pronouns of all members of the Queer Scouts IRC Channel and of others of whom you speak who are not present (friends, celebrities, etc.). You can ask (or use AlisBot) if you don't know someone's pronouns.</li>
    <li>There will be no speculation about a person's gender if that person does not open it up for discussion. Labeling (or not labeling) one's gender and choosing one's pronouns are choices for the individual to make.</li>
    <li>Respect a person's wishes to change the topic of conversation if the topic is uncomfortable for the person.</li>
    <li>If someone tells you to stop doing something because it makes them uncomfortable, stop doing it.</li>
    <li>Don't glamorize illegal activities such as assault or harassment. Don't glamorize drug use.
    Be mindful when linking NSFW material. This is not a channel to share porn for porn's sake, but educational material may be allowed. You must tag it as NSFW when you post it.
    This channel is not an appropriate place to meet dates or hook-ups. Soliciting another member of the channel for sex, being on the channel for the purpose of meeting a sexual partner, or similarly misusing the channel is not permissible.
    Discrimination of any kind is not allowed. Discrimination includes the unfair treatment of a minority, the judgement of a person based on their belonging to a minority, and the use of rhetoric commonly used to oppress a minority.
</ol>
	<footer style=font-size:16px;>*FTMichael, most cis, and rule breakers are not welcome</br>&copy; Lee Jordan 2017</footer>
</body>
</html>
